<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
  </head>

  <body>
    <h1>Add Product of ATN-Shop</h1>

    <form action="/AddProduct" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="price" name="price" />
      <button type="submit">Submit</button>
    </form>
		
	<h2> Product </h2>
	<ul class="Product">
		<!-- Loop through product -->
		<% for(var i = 0; i < Product.length; i++) {%>
			<li class="product">
				<!-- Output name from the iterated quote object -->
				Product: <span><%= Product[i].name %></span> - Price: 
				<!-- Output phone from the iterated price object -->
				<span><%= Product[i].price %></span>
			</li>
		<% } %>
	</ul>	
	
  </body>
</html>